/* https://github.com/MozMorris/tomorrow-pygments */

@import '../common';

/*
* Dark syntax colors
*/

.dark {
  --syntax-highlight-new-bg: rgba(51, 255, 51, 0.1);
  --syntax-highlight-new-idiff: rgba(51, 255, 51, 0.2);
  --syntax-highlight-old-bg: rgba(255, 51, 51, 0.2);
  --syntax-highlight-old-idiff: rgba(255, 51, 51, 0.25);
  --syntax-highlight-border: #808080;
  --syntax-highlight-code-border: #666;
  --syntax-highlight-main-bg: #1d1f21;
  --syntax-highlight-main-color: #1d1f21;
  --syntax-highlight-line-color: #c5c8c6;
  --syntax-highlight-line-num-color: rgba(255, 255, 255, 0.3);
  --syntax-highlight-line-num-color-new: #627165;
  --syntax-highlight-line-num-color-old: #806565;
  --syntax-highlight-diff-not-empty-bg: #557;
  --syntax-highlight-highlight-bg: #ffe792;
  --syntax-highlight-highlight-color: $black;
  --syntax-highlight-pre-bg: #373b41;
  --syntax-highlight-hll-bg: #373b41;
  --syntax-highlight-expanded-bg: #3e3e3e;
  --syntax-highlight-coverage: #b3e841;
  --syntax-highlight-no-coverage: #ff4f33;
  --syntax-highlight-c: #969896;
  --syntax-highlight-err: #c66;
  --syntax-highlight-k: #b294bb;
  --syntax-highlight-l: #de935f;
  --syntax-highlight-n: #c5c8c6;
  --syntax-highlight-o: #8abeb7;
  --syntax-highlight-p: #c5c8c6;
  --syntax-highlight-cm: #969896;
  --syntax-highlight-cp: #969896;
  --syntax-highlight-c1: #969896;
  --syntax-highlight-cs: #969896;
  --syntax-highlight-cd: #969896;
  --syntax-highlight-gd: #c66;
  --syntax-highlight-gh: #8abeb7;
  --syntax-highlight-gi: #b5bd68;
  --syntax-highlight-gp: #969896;
  --syntax-highlight-gu: #8abeb7;
  --syntax-highlight-kc: #b294bb;
  --syntax-highlight-kd: #b294bb;
  --syntax-highlight-kn: #8abeb7;
  --syntax-highlight-kp: #b294bb;
  --syntax-highlight-kr: #b294bb;
  --syntax-highlight-kt: #f0c674;
  --syntax-highlight-ld: #b5bd68;
  --syntax-highlight-m: #de935f;
  --syntax-highlight-s: #b5bd68;
  --syntax-highlight-na: #81a2be;
  --syntax-highlight-nb: #c5c8c6;
  --syntax-highlight-nc: #f0c674;
  --syntax-highlight-no: #c66;
  --syntax-highlight-nd: #8abeb7;
  --syntax-highlight-ni: #c5c8c6;
  --syntax-highlight-ne: #c66;
  --syntax-highlight-nf: #81a2be;
  --syntax-highlight-nl: #c5c8c6;
  --syntax-highlight-nn: #f0c674;
  --syntax-highlight-nx: #81a2be;
  --syntax-highlight-py: #c5c8c6;
  --syntax-highlight-nt: #8abeb7;
  --syntax-highlight-nv: #c66;
  --syntax-highlight-ow: #8abeb7;
  --syntax-highlight-w: #c5c8c6;
  --syntax-highlight-mf: #de935f;
  --syntax-highlight-mh: #de935f;
  --syntax-highlight-mi: #de935f;
  --syntax-highlight-mo: #de935f;
  --syntax-highlight-sb: #b5bd68;
  --syntax-highlight-sc: #c5c8c6;
  --syntax-highlight-sd: #969896;
  --syntax-highlight-s2: #b5bd68;
  --syntax-highlight-se: #de935f;
  --syntax-highlight-sh: #b5bd68;
  --syntax-highlight-si: #de935f;
  --syntax-highlight-sx: #b5bd68;
  --syntax-highlight-sr: #b5bd68;
  --syntax-highlight-s1: #b5bd68;
  --syntax-highlight-ss: #b5bd68;
  --syntax-highlight-bp: #c5c8c6;
  --syntax-highlight-vc: #c66;
  --syntax-highlight-vg: #c66;
  --syntax-highlight-vi: #c66;
  --syntax-highlight-il: #de935f;
}
