/* https://github.com/richleland/pygments-css/blob/master/monokai.css */

@import '../common';

/*
* Monokai Colors
*/
.monokai {
  --syntax-highlight-bg: #272822;
  --syntax-highlight-border: #555;
  --syntax-highlight-text-color: #f8f8f2;
  --syntax-highlight-line-num-color: rgba(255, 255, 255, 0.3);
  --syntax-highlight-line-num-color-new: #707565;
  --syntax-highlight-line-num-color-old: #7e736f;
  --syntax-highlight-line-empty-bg: #49483e;
  --syntax-highlight-line-empty-border: darken($monokai-line-empty-bg, 15%);
  --syntax-highlight-diff-border: #808080;
  --syntax-highlight-highlight-bg: #ffe792;
  --syntax-highlight-expanded-bg: #3e3e3e;
  --syntax-highlight-coverage: #a6e22e;
  --syntax-highlight-no-coverage: #fd971f;

  --syntax-highlight-new-bg: rgba(166, 226, 46, 0.1);
  --syntax-highlight-new-idiff: rgba(166, 226, 46, 0.15);

  --syntax-highlight-old-bg: rgba(254, 147, 140, 0.15);
  --syntax-highlight-old-idiff: rgba(254, 147, 140, 0.2);

  --syntax-highlight-hll: #49483e;
  --syntax-highlight-c: #75715e;
  --syntax-highlight-err-color: #960050;
  --syntax-highlight-err-bg: #1e0010;
  --syntax-highlight-k: #66d9ef;
  --syntax-highlight-l: #ae81ff;
  --syntax-highlight-n: #f8f8f2;
  --syntax-highlight-o: #f92672;
  --syntax-highlight-p: #f8f8f2;
  --syntax-highlight-cm: #75715e;
  --syntax-highlight-cp: #75715e;
  --syntax-highlight-c1: #75715e;
  --syntax-highlight-cs: #75715e;
  --syntax-highlight-cd: #75715e;
  --syntax-highlight-kc: #66d9ef;
  --syntax-highlight-kd: #66d9ef;
  --syntax-highlight-kn: #f92672;
  --syntax-highlight-kp: #66d9ef;
  --syntax-highlight-kr: #66d9ef;
  --syntax-highlight-kt: #66d9ef;
  --syntax-highlight-ld: #e6db74;
  --syntax-highlight-m: #ae81ff;
  --syntax-highlight-s: #e6db74;
  --syntax-highlight-na: #a6e22e;
  --syntax-highlight-nb: #f8f8f2;
  --syntax-highlight-nc: #a6e22e;
  --syntax-highlight-no: #66d9ef;
  --syntax-highlight-nd: #a6e22e;
  --syntax-highlight-ni: #f8f8f2;
  --syntax-highlight-ne: #a6e22e;
  --syntax-highlight-nf: #a6e22e;
  --syntax-highlight-nl: #f8f8f2;
  --syntax-highlight-nn: #f8f8f2;
  --syntax-highlight-nx: #a6e22e;
  --syntax-highlight-py: #f8f8f2;
  --syntax-highlight-nt: #f92672;
  --syntax-highlight-nv: #f8f8f2;
  --syntax-highlight-ow: #f92672;
  --syntax-highlight-w: #f8f8f2;
  --syntax-highlight-mf: #ae81ff;
  --syntax-highlight-mh: #ae81ff;
  --syntax-highlight-mi: #ae81ff;
  --syntax-highlight-mo: #ae81ff;
  --syntax-highlight-sb: #e6db74;
  --syntax-highlight-sc: #e6db74;
  --syntax-highlight-sd: #e6db74;
  --syntax-highlight-s2: #e6db74;
  --syntax-highlight-se: #ae81ff;
  --syntax-highlight-sh: #e6db74;
  --syntax-highlight-si: #e6db74;
  --syntax-highlight-sx: #e6db74;
  --syntax-highlight-sr: #e6db74;
  --syntax-highlight-s1: #e6db74;
  --syntax-highlight-ss: #e6db74;
  --syntax-highlight-bp: #f8f8f2;
  --syntax-highlight-vc: #f8f8f2;
  --syntax-highlight-vg: #f8f8f2;
  --syntax-highlight-vi: #f8f8f2;
  --syntax-highlight-il: #ae81ff;
  --syntax-highlight-gu: #75715e;
  --syntax-highlight-gd: #f92672;
  --syntax-highlight-gi: #a6e22e;
  --syntax-highlight-gh: #75715e;
}
