/* https://gist.github.com/qguv/7936275 */

@import '../common';

/*
* Solarized dark colors
*/
.solarized-dark {
  --syntax-highlight-new-bg: rgba(133, 153, 0, 0.15);
  --syntax-highlight-new-idiff: rgba(133, 153, 0, 0.25);
  --syntax-highlight-old-bg: rgba(220, 50, 47, 0.3);
  --syntax-highlight-old-idiff: rgba(220, 50, 47, 0.25);
  --syntax-highlight-border: #113b46;
  --syntax-highlight-pre-bg: #002b36;
  --syntax-highlight-pre-color: #93a1a1;
  --syntax-highlight-pre-border: #113b46;
  --syntax-highlight-line-bg: #002b36;
  --syntax-highlight-line-color: rgba(255, 255, 255, 0.3);
  --syntax-highlight-line-color-new: #5a766c;
  --syntax-highlight-line-color-old: #7a6c71;
  --syntax-highlight-highlight: #094554;
  --syntax-highlight-hll-bg: #174652;
  --syntax-highlight-expanded-bg: #010d10;
  --syntax-highlight-coverage: #859900;
  --syntax-highlight-no-coverage: #cb4b16;
  --syntax-highlight-c: #586e75;
  --syntax-highlight-err: #93a1a1;
  --syntax-highlight-g: #93a1a1;
  --syntax-highlight-k: #859900;
  --syntax-highlight-l: #93a1a1;
  --syntax-highlight-n: #93a1a1;
  --syntax-highlight-o: #859900;
  --syntax-highlight-x: #cb4b16;
  --syntax-highlight-p: #93a1a1;
  --syntax-highlight-cm: #586e75;
  --syntax-highlight-cp: #859900;
  --syntax-highlight-c1: #586e75;
  --syntax-highlight-cs: #859900;
  --syntax-highlight-cd: #586e75;
  --syntax-highlight-gd: #2aa198;
  --syntax-highlight-ge: #93a1a1;
  --syntax-highlight-gr: #dc322f;
  --syntax-highlight-gh: #cb4b16;
  --syntax-highlight-gi: #859900;
  --syntax-highlight-go: #93a1a1;
  --syntax-highlight-gp: #93a1a1;
  --syntax-highlight-gs: #93a1a1;
  --syntax-highlight-gu: #cb4b16;
  --syntax-highlight-gt: #93a1a1;
  --syntax-highlight-kc: #cb4b16;
  --syntax-highlight-kd: #268bd2;
  --syntax-highlight-kn: #859900;
  --syntax-highlight-kp: #859900;
  --syntax-highlight-kr: #268bd2;
  --syntax-highlight-kt: #dc322f;
  --syntax-highlight-ld: #93a1a1;
  --syntax-highlight-m: #2aa198;
  --syntax-highlight-s: #2aa198;
  --syntax-highlight-na: #93a1a1;
  --syntax-highlight-nb: #b58900;
  --syntax-highlight-nc: #268bd2;
  --syntax-highlight-no: #cb4b16;
  --syntax-highlight-nd: #268bd2;
  --syntax-highlight-ni: #cb4b16;
  --syntax-highlight-ne: #cb4b16;
  --syntax-highlight-nf: #268bd2;
  --syntax-highlight-nl: #93a1a1;
  --syntax-highlight-nn: #93a1a1;
  --syntax-highlight-nx: #93a1a1;
  --syntax-highlight-py: #93a1a1;
  --syntax-highlight-nt: #268bd2;
  --syntax-highlight-nv: #268bd2;
  --syntax-highlight-ow: #859900;
  --syntax-highlight-w: #93a1a1;
  --syntax-highlight-mf: #2aa198;
  --syntax-highlight-mh: #2aa198;
  --syntax-highlight-mi: #2aa198;
  --syntax-highlight-mo: #2aa198;
  --syntax-highlight-sb: #586e75;
  --syntax-highlight-sc: #2aa198;
  --syntax-highlight-sd: #93a1a1;
  --syntax-highlight-s2: #2aa198;
  --syntax-highlight-se: #cb4b16;
  --syntax-highlight-sh: #93a1a1;
  --syntax-highlight-si: #2aa198;
  --syntax-highlight-sx: #2aa198;
  --syntax-highlight-sr: #dc322f;
  --syntax-highlight-s1: #2aa198;
  --syntax-highlight-ss: #2aa198;
  --syntax-highlight-bp: #268bd2;
  --syntax-highlight-vc: #268bd2;
  --syntax-highlight-vg: #268bd2;
  --syntax-highlight-vi: #268bd2;
  --syntax-highlight-il: #2aa198;
}
