/* https://gist.github.com/qguv/7936275 */

@import '../common';

.solarized-light {
  --syntax-highlight-matchline-bg: rgba(255, 255, 255, 0.4);
  --syntax-highlight-new-bg: rgba(133, 153, 0, 0.2);
  --syntax-highlight-new-idiff: rgba(133, 153, 0, 0.25);
  --syntax-highlight-old-bg: rgba(220, 50, 47, 0.2);
  --syntax-highlight-old-idiff: rgba(220, 50, 47, 0.25);
  --syntax-highlight-border: #c5d0d4;
  --syntax-highlight-pre-bg: #002b36;
  --syntax-highlight-pre-bg: #fdf6e3;
  --syntax-highlight-pre-color: #586e75;
  --syntax-highlight-line-bg: #fdf6e3;
  --syntax-highlight-line-color: rgba(0, 0, 0, 0.3);
  --syntax-highlight-line-color-new: #a1a080;
  --syntax-highlight-line-color-old: #ad9186;
  --syntax-highlight-highlight: #eee8d5;
  --syntax-highlight-hll-bg: #ddd8c5;
  --syntax-highlight-expanded-border: #d2cdbd;
  --syntax-highlight-expanded-bg: #ece6d4;
  --syntax-highlight-coverage: #859900;
  --syntax-highlight-no-coverage: #cb4b16;
  --syntax-highlight-c: #93a1a1;
  --syntax-highlight-err: #586e75;
  --syntax-highlight-g: #586e75;
  --syntax-highlight-k: #859900;
  --syntax-highlight-l: #586e75;
  --syntax-highlight-n: #586e75;
  --syntax-highlight-o: #859900;
  --syntax-highlight-x: #cb4b16;
  --syntax-highlight-p: #586e75;
  --syntax-highlight-cm: #93a1a1;
  --syntax-highlight-cp: #859900;
  --syntax-highlight-c1: #93a1a1;
  --syntax-highlight-cs: #859900;
  --syntax-highlight-cd: #93a1a1;
  --syntax-highlight-gd: #2aa198;
  --syntax-highlight-ge: #586e75;
  --syntax-highlight-gr: #dc322f;
  --syntax-highlight-gh: #cb4b16;
  --syntax-highlight-gi: #859900;
  --syntax-highlight-go: #586e75;
  --syntax-highlight-gp: #586e75;
  --syntax-highlight-gs: #586e75;
  --syntax-highlight-gu: #cb4b16;
  --syntax-highlight-gt: #586e75;
  --syntax-highlight-kc: #cb4b16;
  --syntax-highlight-kd: #268bd2;
  --syntax-highlight-kn: #859900;
  --syntax-highlight-kp: #859900;
  --syntax-highlight-kr: #268bd2;
  --syntax-highlight-kt: #dc322f;
  --syntax-highlight-ld: #586e75;
  --syntax-highlight-m: #2aa198;
  --syntax-highlight-s: #2aa198;
  --syntax-highlight-na: #586e75;
  --syntax-highlight-nb: #b58900;
  --syntax-highlight-nc: #268bd2;
  --syntax-highlight-no: #cb4b16;
  --syntax-highlight-nd: #268bd2;
  --syntax-highlight-ni: #cb4b16;
  --syntax-highlight-ne: #cb4b16;
  --syntax-highlight-nf: #268bd2;
  --syntax-highlight-nl: #586e75;
  --syntax-highlight-nn: #586e75;
  --syntax-highlight-nx: #586e75;
  --syntax-highlight-py: #586e75;
  --syntax-highlight-nt: #268bd2;
  --syntax-highlight-nv: #268bd2;
  --syntax-highlight-ow: #859900;
  --syntax-highlight-w: #586e75;
  --syntax-highlight-mf: #2aa198;
  --syntax-highlight-mh: #2aa198;
  --syntax-highlight-mi: #2aa198;
  --syntax-highlight-mo: #2aa198;
  --syntax-highlight-sb: #93a1a1;
  --syntax-highlight-sc: #2aa198;
  --syntax-highlight-sd: #586e75;
  --syntax-highlight-s2: #2aa198;
  --syntax-highlight-se: #cb4b16;
  --syntax-highlight-sh: #586e75;
  --syntax-highlight-si: #2aa198;
  --syntax-highlight-sx: #2aa198;
  --syntax-highlight-sr: #dc322f;
  --syntax-highlight-s1: #2aa198;
  --syntax-highlight-ss: #2aa198;
  --syntax-highlight-bp: #268bd2;
  --syntax-highlight-vc: #268bd2;
  --syntax-highlight-vg: #268bd2;
  --syntax-highlight-vi: #268bd2;
  --syntax-highlight-il: #2aa198;
}
